#message-container {
    margin-top:50px;
    position: fixed;
    left: 40%;
    width: 20%;
    z-index:9999; 
    
}

.param
{
    width:100%;
}

#paramsTable
{
    padding:5px;
}

#rolesPanel
{
    padding:5px
}